@use "../media";

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@each $align in center, start, end, baseline, flex-start, flex-end, self-start, self-end, stretch {
  .ai-#{$align} {
    align-items: $align;
  }
  .as-#{$align} {
    align-self: $align;
  }
  .js-#{$align} {
    justify-self: $align;
  }
  .ji-#{$align} {
    justify-items: $align;
  }
}
@each $align in center, start, end, left, right, flex-start, flex-end, stretch, space-around, space-between, space-evenly {
  .jc-#{$align} {
    justify-content: $align;
  }
}

@include media.with-media-queries using($prefix) {
  @for $i from 0 to 16 {
    .gap#{$prefix}-#{$i} {
      gap: ($i*0.25em);
    }
    @for $j from 0 to 16 {
      .gap#{$prefix}-#{$i}-#{$j} {
        gap: ($i*0.25em) ($j*0.25em);
      }
    }
  }
}

.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
