@use "../media";

@include media.with-media-queries using($mprefix) {
  @for $i from 0 to 16 {
    @each $cprefix, $pprefix in ("m":"margin", "p":"padding") {
      $sz: ($i*0.25em);
      @each $cname, $pname in (
              "t": "top",
              "b": "bottom",
              "l": "left",
              "r": "right") {
        .#{$cprefix}#{$cname}#{$mprefix}-#{$i} {
          #{$pprefix}-#{$pname}: $sz;
        }
      }
      .#{$cprefix}x#{$mprefix}-#{$i} {
        #{$pprefix}-left: $sz;
        #{$pprefix}-right: $sz;
      }
      .#{$cprefix}y#{$mprefix}-#{$i} {
        #{$pprefix}-top: $sz;
        #{$pprefix}-bottom: $sz;
      }
      .#{$cprefix}a#{$mprefix}-#{$i} {
        #{$pprefix}: $sz;
      }
    }
  }
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
