.vscroll {
  overflow-y: scroll;
}

.hashint, span[title]:not([title=""]) {
  text-decoration: underline from-font dotted;
}

.--hk {
  color: var(--tc-hl);
  margin-right: 0.25em;
}

:disabled .--hk, .disabled .--hk {
  color: var(--tc-disabled);
}

.hidden {
  display: none !important;
}

.d-ib {
  display: inline-block;
}

@each $i in (auto,scroll,hidden) {
  .ox-#{$i} {
    overflow-x: $i;
  }
  .oy-#{$i} {
    overflow-y: $i;
  }
}
