b, .text-bold, .text-b, .text-strong {
  font-weight: bold;
}
i, .text-i, .text-em {
  font-style: italic;
}
u, .text-u {
  text-decoration: underline;
}
.text-p {
  display: block;
  margin: 0.5em 0;
  text-indent: 1em;
}
.text-div {
  display: block;
}
.text-span {
  display: inline;
}
.text-sub {
  vertical-align: sub;
  font-size: smaller;
}
.text-sup {
  vertical-align: super;
  font-size: smaller;
}
@each $sz in small, smaller, x-small, big, bigger, x-big {
  .text-#{$sz} {
    font-size: $sz;
  }
}

.text-nowrap {
  white-space: nowrap;
}
.text-pre {
  white-space: pre;
}

.text-hl {
  color: var(--tc-hl);
}
.text-error {
  background: #111;
  color: #a00;
  font-weight: bold;
}
.text-positive {
  color: var(--tc-plus);
}
.text-shadowed {
  color: var(--tc-shadowed);
}
.text-negative {
  color: var(--tc-minus);
}
.text-lust {
  color: var(--tc-lust);
}
.text-heal, .text-hp {
  color: var(--tc-hp);
}
.text-damage, .text-dmg {
  color: var(--tc-damage);
}
.text-money {
  color: var(--tc-money);
}
.text-roll-skill {
  /* font-family: var(--theme-ctrl-font-face); */
}
.text-roll-success {
  color: var(--tc-plus);
}
.text-roll-critsuccess {
  font-weight: bold;
  color: var(--tc-plus);
}
.text-roll-fail {
  color: var(--tc-minus);
}
.text-roll-critfail {
  font-weight: bold;
  color: var(--tc-minus);
}
.text-help {
  font-style: italic;
}

.help-block {
  display: block;
  font-style: italic;
  padding: 0.5em;
  border: 1px solid var(--theme-ctrl-fg);
  background: var(--theme-ctrl-bg);
  color: var(--tc-hl);
}

.choice-hint {
  font-style: italic;
  display: inline-block;
  margin-left: 0.5em;
}

@each $align in left, right, center, justify {
  .text-#{$align} {
    text-align: $align;
  }
}

$sizes: (
        "xxxs": 33%,
        "xxs": 50%,
        "xs": 67%,
        "s": 80%,
        "small": 80%,
        "normal": 100%,
        "large": 125%,
        "l": 125%,
        "xl": 150%,
        "xxl": 200%,
        "xxxl": 300%
);

@each $name, $size in $sizes {
  .text-#{$name} {
    font-size: $size;
  }
}
