@use "inputs";

$iconBtnSize: 32px;

@mixin button {
  @include inputs.control;
  &.-icon {
    width: $iconBtnSize;
    height: $iconBtnSize;
    display: flex;
    align-items: center;
    justify-content: center;
    .--hk {
      margin: 0;
    }
  }
  &:not(.-link) {
    text-align: center;
  }
  &.-link {
    text-align: left;
  }
  &.-default {
    border-color: var(--theme-ctrl-default);
    &:not(.-link) {
      color: var(--tc-bold);
    }
    &.-link {
      text-decoration: underline;
      .--hk {
        text-decoration: none;
      }
    }
    font-weight: bold;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    color: var(--tc-focus);
  }
}

button, .button {
  @include button;
}

.button-container {
  display: inline-block;
  button, .button {
    width: 100%;
  }
}
