$ctrlRadius: 4px;

@mixin control {
  &:not(.-link) {
    border: 2px solid var(--theme-ctrl-fg);
    border-radius: $ctrlRadius;
    background: var(--theme-ctrl-bg);
    color: var(--tc-fg);
  }
  &.-link {
    border: none;
    background: none;
    color: var(--tc-link);
  }
  &.-flat {
    border-color: transparent;
  }
  font-family: var(--theme-ctrl-font-face);
  font-size: var(--theme-ctrl-font-size);
  padding: 1px 6px;

  &.-big {
    padding: 8px 12px;
  }

  &:disabled, &.-disabled {
    background: var(--theme-bg);
    &:not(.-flat) {
      border-color: var(--theme-ctrl-disabled);
    }
    color: var(--tc-disabled);
  }

  &.-shadowed {
    &:not(.-flat) {
      border-color: var(--tc-shadowed);
    }
    color: var(--tc-shadowed);
  }

  &:focus, &.-focus {
    &:not(.-flat) {
      outline: var(--tc-focus);
      border-color: var(--tc-focus);
    }
  }
}
