@mixin link {
  color: var(--tc-link);
  text-decoration: underline;
  &:visited {
    color: var(--tc-link);
  }
}

a, .link {
  @include link;
}
.link-bad {
  color: var(--tc-link-bad) !important;
}
