@use "../utils/uibox";

.bar.bar-xp {
  min-height: 6px;
  .bar-value {
    background: var(--tc-xp);
  }
  &.-cap .bar-value {
    background: var(--tc-xp-max);
  }
  &.-up .bar-value {
    background: var(--tc-xp-up);
  }
}

.bar.bar-hp {
  background: var(--tc-damage);
  .bar-value {
    background: var(--tc-hp);
  }
}

.bar.bar-ep {
  .bar-value {
    background: var(--tc-energy);
  }
}

.bar.bar-lp {
  .bar-value {
    background: var(--tc-lust);
  }
}

.creature-panel {
  @include uibox.uibox;
  &.-dead {
    opacity: 0.8;
    background: var(--tc-disabled);
  }
}
