@use "../utils/uibox";

.bar.bar-xp {
  min-height: 6px;
  .bar-value {
    background: var(--tc-xp);
  }
  &.-cap .bar-value {
    background: var(--tc-xp-max);
  }
  &.-up .bar-value {
    background: var(--tc-xp-up);
  }
}

.bar.bar-hp {
  background: var(--tc-damage);
  .bar-value {
    background: var(--tc-hp);
  }
}

.bar.bar-ep {
  .bar-value {
    background: var(--tc-energy);
  }
}

.bar.bar-lp {
  .bar-value {
    background: var(--tc-lust);
  }
}

.creature-panel {
  @include uibox.uibox;
  &:not(.-collapsed).-collapsible {
    // stick collapser button to panel bottom
    padding-bottom: 0;
  }
  &.-dead {
    opacity: 0.8;
    background: var(--tc-disabled);
  }
}

.condition-icon {
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 20px;
  padding-top: 3px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
