@use "../utils/uibox";

$leftPanelSize: 300px;
$rightPanelSize: 300px;
$duration: 0.5s;

.game-layout, .gl-top, .gl-midrow, .gl-left, .gl-right, .gl-midcol, .gl-center, .gl-bottom {
  overflow: hidden;
}
.gl-left, .gl-right, .gl-center, .gl-bottom {
  display: flex;
  flex-direction: column;
}
.game-layout {
  display:flex;
  max-height: 100vh;
  flex-direction: column;
  width: 1200px;
  gap: 1rem;
  &.-wide {
    flex-grow: 1;
  }
  .gl-top {
    min-height: 1.5rem;
  }
  .gl-midrow {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
  }
  .gl-left, .gl-right {
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    flex-basis: $leftPanelSize;
    transition:
            visibility $duration steps(1, end),
            margin-left $duration ease-in-out,
            margin-right $duration ease-in-out;
  }
  &.-collapse-left .gl-left {
    visibility: hidden;
    margin-left: #{-$rightPanelSize};
  }
  &.-collapse-right .gl-right {
    visibility: hidden;
    margin-right: #{-$rightPanelSize};
  }
  .gl-midcol {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
  }
  .gl-center {
    flex-grow: 1;
  }
  .gl-bottom {
    min-height: 1.5rem;
    padding-bottom: 1rem;
  }
}
