@use "../components/button";
@use "../components/inputs";
@use "../media";

$itemActionCount: 2;

.screen-inventory {
  width: 960px;
  margin: 4em 0;
  align-self: center;
  max-height: 100%;
  display: grid;
  grid-template-rows: minmax(100px, 1fr) min-content;

  /* columns: [hotkey] [name] [props] [transfer] [use] */
  .inventory-row {
    display: grid;
    grid-template-columns: button.$iconBtnSize 2fr 1fr repeat($itemActionCount, button.$iconBtnSize);
    align-items: center;

    border: 1px solid var(--theme-ctrl-bg);
    border-radius: (2px + inputs.$ctrlRadius);
    gap: 4px;
    @include media.mq-md {
      gap: 2px;
    }
    @include media.mq-sm {
      gap: 1px;
    }
    min-height: button.$iconBtnSize;

    &.-active {
      border-color: var(--theme-ctrl-fg);
    }
  }
  .inventory-equipment {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 4px;
    /* TODO use media-dependent gap --variables */
    @include media.mq-md {
      gap: 2px;
    }
    @include media.mq-sm {
      gap: 1px;
    }
  }
  .inventory-iteminfo {
    min-height: 10em;
  }
}
