@use "../utils/uibox";

.scene-panel {
  @include uibox.uibox;
  flex-grow: 1;
}
.scene-page {
  margin: 1rem 0;
  &.-history {
    opacity: 0.5;
  }
}
.scene-actions {
  .choices {
    display: flex;
    flex-direction: column;
  }
}
