@use "../utils/uibox";

.scene-panel {
  @include uibox.uibox;
  flex-grow: 1;
  .text-pages .text-page {
    margin: 1rem 0;
  }
}
.text-page {
  &.-history {
    opacity: 0.5;
  }
}
.scene-actions {
  .choices {
    display: flex;
    flex-direction: column;
  }
}
